@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Bates Shower";
  font-style: normal;
  font-weight: normal;
  src: local("Bates Shower"), url("../fonts/Bates Shower.woff") format("woff");
}
body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  background-image: url(../images/Back\ Ground\ Blured.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  height: -moz-max-content;
  height: max-content;
}
body nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 20px min(20px, 5%);
  align-items: center;
}
body nav img {
  width: 80px;
}
body h1 {
  font-family: "Bates Shower";
  font-weight: bold;
  margin: 0 0 20px;
  color: #fff;
  font-size: 4rem;
}
body .overlayer {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .game {
  width: 80vw;
  border-radius: 20px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(255, 255, 255, 0.8);
  grid-template-rows: 1fr 80px 50px;
  margin-bottom: 50px;
}
body main .game p {
  grid-column: span 2;
}
body main .game p span.green {
  color: rgb(32, 152, 32);
}
body main .game p span.red {
  color: rgb(227, 46, 46);
}
body main .game > div {
  grid-column: span 2;
}
body main .game > div .input {
  position: relative;
  margin: 0 auto;
  color: #000;
  min-width: 10px;
  border-radius: 6px;
  padding: 0.5rem 1rem 0.5rem;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .game > div .input:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  width: 10%;
  width: inherit;
  bottom: 0px;
  z-index: 999;
  height: 3px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}
body main .game > div .input #hide {
  position: absolute;
  height: 0;
  bottom: -60px;
  font-size: 1.5rem;
  overflow: hidden;
  white-space: pre;
  font-family: "Oswald", sans-serif;
}
body main .game > div .input input {
  font-family: "Oswald", sans-serif;
  border-style: none;
  background: transparent;
  outline: none;
  color: #000;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}
body main .game > div .input input::-webkit-input-placeholder {
  color: #000;
}
body main .game > div .input input:focus {
  outline: none;
}
body footer p {
  color: #fff;
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
/* CSS */
.button-77 {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
  margin-top: 10px;
  opacity: 0.84;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}
.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(249, 58, 19, 0.32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: 0.24;
}

.glitch {
  position: relative;
  color: #fff;
  font-size: 80px;
  margin-bottom: 20px;
  font-family: "Bates Shower";
}
.glitch .line:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.glitch.active .line:nth-child(1) {
  animation: clip 3000ms -500ms linear infinite, glitch1 500ms -813ms linear infinite;
}
@keyframes glitch1 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(-2px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(1px);
    color: #AC1212;
  }
  95% {
    transform: translateX(3px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.glitch.active .line:nth-child(2) {
  animation: clip 3000ms -1000ms linear infinite, glitch2 500ms -125ms linear infinite;
}
@keyframes glitch2 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(1px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-1px);
    color: #AC1212;
  }
  95% {
    transform: translateX(5px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.glitch.active .line:nth-child(3) {
  animation: clip 3000ms -1500ms linear infinite, glitch3 500ms -494ms linear infinite;
}
@keyframes glitch3 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(-3px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(5px);
    color: #AC1212;
  }
  95% {
    transform: translateX(-1px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.glitch.active .line:nth-child(4) {
  animation: clip 3000ms -2000ms linear infinite, glitch4 500ms -1468ms linear infinite;
}
@keyframes glitch4 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(-3px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(5px);
    color: #AC1212;
  }
  95% {
    transform: translateX(4px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.glitch.active .line:nth-child(5) {
  animation: clip 3000ms -2500ms linear infinite, glitch5 500ms -328ms linear infinite;
}
@keyframes glitch5 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(4px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-3px);
    color: #AC1212;
  }
  95% {
    transform: translateX(5px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.glitch.active .line:nth-child(6) {
  animation: clip 3000ms -3000ms linear infinite, glitch6 500ms -1031ms linear infinite;
}
@keyframes glitch6 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(2px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(1px);
    color: #AC1212;
  }
  95% {
    transform: translateX(-4px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.glitch.active .line:nth-child(7) {
  animation: clip 3000ms -3500ms linear infinite, glitch7 500ms -1696ms linear infinite;
}
@keyframes glitch7 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(3px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-1px);
    color: #AC1212;
  }
  95% {
    transform: translateX(-4px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.glitch.active .line:nth-child(8) {
  animation: clip 3000ms -4000ms linear infinite, glitch8 500ms -549ms linear infinite;
}
@keyframes glitch8 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(-1px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-4px);
    color: #AC1212;
  }
  95% {
    transform: translateX(3px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.glitch.active .line:nth-child(9) {
  animation: clip 3000ms -4500ms linear infinite, glitch9 500ms -790ms linear infinite;
}
@keyframes glitch9 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(-1px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-2px);
    color: #AC1212;
  }
  95% {
    transform: translateX(4px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
.glitch.active .line:nth-child(10) {
  animation: clip 3000ms -5000ms linear infinite, glitch10 500ms -2821ms linear infinite;
}
@keyframes glitch10 {
  0% {
    transform: translateX(0);
  }
  80% {
    transform: translateX(0);
    color: #fff;
  }
  85% {
    transform: translateX(5px);
    color: #4E9A26;
  }
  90% {
    transform: translateX(-4px);
    color: #AC1212;
  }
  95% {
    transform: translateX(5px);
    color: #fff;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes clip {
  0% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
            clip-path: polygon(0 100%, 100% 100%, 100% 120%, 0 120%);
  }
  100% {
    -webkit-clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
            clip-path: polygon(0 -20%, 100% -20%, 100% 0%, 0 0);
  }
}/*# sourceMappingURL=main.css.map */